.react-datepicker {
  font-size: 15px !important;
  box-shadow : 0px 5px 15px -5px #000000;
}

.react-datepicker__current-month {
  padding: 10px !important;
  font-size: 20px !important;
}

.react-datepicker__header {
  background-color: white;
  border-bottom : 0px;
}

.react-datepicker__navigation {
  top: 15px !important;
}

.react-datepicker__day-names{
  margin-bottom: -20px  !important;

}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 5px !important;
}

.sunday {
  color: rgb(255, 0, 0) !important;
}

.react-datepicker__day--disabled {
  color: #cccccc !important;
}

/* input 크기 && 클리어 버튼 css*/
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 300px;
  line-height: 2.5rem;
  font-size: 15px;
  
}


/* input bolder css*/
.react-datepicker-wrapper input[type="text"]{
  border: 1px solid gray;
  border-radius: 5px;
}

/* 선택된 날짜 */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected, 
.react-datepicker__month-text--keyboard-selected, 
.react-datepicker__quarter-text--keyboard-selected, 
.react-datepicker__year-text--keyboard-selected {
  background-color:#393DA2;
  border-radius: 5px;
}

/* 오늘 */
.react-datepicker__day--today {
  background-color: #21223C;
  color: white;
  border-radius: 5px;
}

.react-datepicker__close-icon::after{
  background-color: #21223C;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after{
  border-top: none;

}